@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #app {
    @apply relative bg-background p-8 font-Poppins text-text;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-DMSans tracking-tight text-headingtext;
  }

  h2 {
    @apply text-[1.4rem];
  }

  h3 {
    @apply text-[1.2rem];
  }

  h4 {
    @apply text-[1.1rem];
  }

  p {
    @apply text-[1rem];
  }
}

.projecttext {
  font-size: 0.9rem;
}
.project-external-link {
  display: block;
  color: #7b8da3;
}
