@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-pt-20 bg-background;
  }

  body {
    @apply bg-background;
  }

  #site-wrapper {
    @apply relative mx-auto max-w-[125rem] overflow-hidden bg-background px-8 font-Poppins text-text sm:px-12 md:px-24 lg:flex lg:px-0;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-DMSans tracking-tight text-headingtext;
  }

  h1 {
    @apply text-[1.9rem] xl:text-[2.5rem];
  }

  h2 {
    @apply text-[1.5rem] xl:text-[1.9rem];
  }

  h3 {
    @apply text-[1.35rem] xl:text-[1.4rem];
  }

  h4 {
    @apply text-[1.2rem] xl:text-[1.3rem];
  }

  p,
  ul {
    @apply max-w-prose text-[1rem] xl:text-[1.1rem];
  }

  ul,
  li,
  ol {
    @apply list-inside list-disc;
  }

  #site-wrapper {
    min-height: 100vh;
  }
}

html {
  scroll-behavior: smooth;
}

.projecttext {
  font-size: 0.95rem;
}

.project-external-link {
  display: block;
  color: #7b8da3;
}

.imagediv {
  margin-inline: auto;
  max-height: 21.875rem;
  max-width: 37.5rem;
}

.navlistitem {
  padding: 0.3125rem;
  border-radius: 100%;
  cursor: pointer;
}

.navlistitem:active {
  background-color: #242424;
}

.logosvg:hover path,
.logosvg:active path {
  fill: white;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: #191919;
}

::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dfdfdf;
}

::-webkit-scrollbar-thumb:active {
  background-color: #dfdfdf;
}

.fade-in-slide-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in-slide-up 1s forwards ease-out;
}

@keyframes fade-in-slide-up {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  #right {
    min-height: 100vh;
  }
}

/* Customize pagination color */
#mySwiper .swiper-pagination-progressbar-fill {
  background: #7b8da3;
  margin-top: 0.2rem;
  border-radius: 6rem;
}

#mySwiper .swiper-pagination-horizontal {
  border-radius: 6rem;
}
