@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background;
  }

  body {
    @apply bg-background;
  }

  #site-wrapper {
    @apply relative overflow-hidden bg-background px-8 font-Poppins text-text md:px-20 lg:flex xl:px-32;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-DMSans tracking-tight text-headingtext;
  }

  h1 {
    @apply text-[1.9rem];
  }

  h2 {
    @apply text-[1.5rem];
  }

  h3 {
    @apply text-[1.35rem];
  }

  h4 {
    @apply text-[1.2rem];
  }

  p {
    @apply text-[1rem];
  }

  #site-wrapper {
    min-height: 100vh;
  }
}

.projecttext {
  font-size: 0.95rem;
}

.project-external-link {
  display: block;
  color: #7b8da3;
}

.imagediv {
  margin-inline: auto;
  max-height: 21.875rem;
  max-width: 37.5rem;
}

svg:hover path {
  fill: white;
}

@media (min-width: 1024px) {
  #right {
    min-height: 100vh;
  }
}
